/* Style the counter cards */
.track-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: justify;
  background-color: #f1f1f1;
}

.sebbo_lule-button {
    background-color: #4CAF50; /* Green */
    border: #4CAF50;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.main-container {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  padding: 16px;
  justify-content: space-evenly
}

.card-container {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #f1f1f1;
  padding: 16px;
  text-align: justify;
}